/* Custom properties */
:root {
  --font-retro: "Silkscreen", monospace;
}

@font-face {
  font-family: "Silkscreen";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/Silkscreen-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Silkscreen";
  font-weight: 700;
  font-style: normal;
  src: url("fonts/Silkscreen-Bold.ttf") format("truetype");
  font-display: swap;
}

body.page-index {
  font-family: var(--font-retro);
}
