html {
    font-size: 30px; /* px means "pixels": the base font size is now x pixels high */
    font-family: 'Londrina Solid'; /* this should be the rest of the output you got from Google Fonts */
    text-align: center;
    color:  #101820; 
    background-color: #FEE715;
  }
h1 {
    font-size: 30px;
  }

  #board {
    width: 360px;
    height: 360px;
    background-color: antiquewhite;
    border: 10px solid palegoldenrod;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 118px;
    height: 118px;
    border: 1px solid palegoldenrod;
}