@font-face {
    font-family: 'Londrina Solid';
    font-size: 30px;
    font-display: auto;
    src: url('assets/fonts/londrinasolid-regular-webfont.woff'); format:('woff'),
         url('assets/fonts/londrinasolid-regular-webfont.woff2'); format:('woff2')
  }

:root {
    --background-color: #FEE715;
    --textPrimary: #080808;
    --textSecondary: #555555;
    --PrimaryColour:#ff7f50;
}


body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--background-color);
    color: var(--textPrimary);
    font-size: 1.4rem;
}

main {
    width: 600px;
    margin: 50px auto;
}

h1 {
    color: var(--PrimaryColour)
}

h1 svg {
    width:40px;
    fill: var(--PrimaryColour);
}

#header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#button {
        text-align: right;
}

#info {
    color:var(--PrimaryColour);

}

button {
    background: rgba(255, 127, 80, .5);
    border: 0;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Bebas Neue", sans-serif;
    font-size: large;

}