body,
html {
  height: 100%;
  margin: 0;
  background-color: #333399;
  font-family: "VT323", monospace;
  color: white;
  font-size: 20px;
}

#terminal {
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

#input-line {
  display: flex;
  align-items: center;
}

.prompt {
  margin-right: 5px;
}

#input {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: inherit;
  /* CHANGE: Use the VT323 font */
  font-family: "VT323", monospace;
  /* MATCH the size of the output text */
  font-size: 25px;
}
.field {
  white-space: pre;
  font-size: 20px;
}
