@font-face {
  font-family: "Adesso"; /* Use the core family name */
  font-weight: 700; /* Map this file to the 'bold' weight */
  font-style: normal;
  src: url("fonts/font (1)/Adesso-Bold.woff2") format("woff2"),
    url("fonts/font (1)/Adesso-Bold.woff") format("woff");
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Adesso";
}

body {
  background-color: #efdba8;
  /* Use only font-family and include a generic fallback */
  font-family: "Adesso";
  /* Using a single padding value for consistency across the entire page */
  padding: 7.5px;
  margin: 0;
  text-align: left; /* All text-based elements inherit left alignment */
  color: black;
}

h1 {
  font-size: 50px;
}

.topnav {
  /* Centers the content (the links) horizontally */
  display: flex;
  justify-content: center;
  /* Makes sure the links stay in a row */
  align-items: center;

  font-size: 30px;

  /* Remove any default margin/padding from the container */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Recommended for nav bars */
}

.topnav a {
  /* Removes the default underline from the links */
  text-decoration: none;
  /* Sets the text color to black (you can choose any color) */
  color: black;
  /* Adds some padding to make the links look more like buttons */
  padding: 14px 16px;
  /* Removes the blue background from the active link */
  background-color: transparent;
}
