@font-face {
  font-family: "Apercu Mono Pro";
  /*
    Ensure this path is correct relative to the CSS file
    and that the file is actually a .woff format (or change format() to "woff")
    If you have the .woff2 file, use that instead for better compression.
  */
  src: url("assets/css/fonts/font (1)/ApercuMonoPro-Medium.woff")
    format("woff2");
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Apercu Mono Pro", monospace;
  font: "Apercu Mono Pro";
}

body {
  background-color: white;
  /* Use only font-family and include a generic fallback */
  font-family: "Apercu Mono Pro", monospace;
  /* Using a single padding value for consistency across the entire page */
  padding: 7.5px;
  margin: 0;
  text-align: left; /* All text-based elements inherit left alignment */
  color: black;
}

.accordion {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 70px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: transparent;
  color: #00ff00;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 5px 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  line-height: 1;
}
